@import '../../../node_modules/bulma/sass/utilities/initial-variables.sass';
$blue: #0A2F7E;
$red: #dc3f22;
$green: #4B9537;
$yellow: #F8CF47;
$primary: $blue;
@import '../../../node_modules/bulma/bulma';